body {
  background-image: url("../img/menu-background.jpg");
  color: white;
}
footer {
	height: 25%;
	width: 100%;
	background-image: url("../img/hout patroon.jpg");

	position: fixed;
	bottom: 0;
	left: 0;
}
ul#options li {
  display: inline-block;
  background-color: lightblue;
  padding: 10px 10px;
  border: solid 3px blue;
  border-radius: 5px;
}
ul#items li {
  display: inline-block;
}
a {
  text-decoration: none;
  color: white;
}
