body {
  margin: 0;
  font-family: arial;
  background-size: cover;
  background-repeat: no-repeat;
  outline: none;
  user-select: none;
}

.intrologo {
  display: none;
  text-align: center;
  margin-top: 6%;
  color: white;
  user-select: none;
  opacity: 0;
}

.gamename {
  color: white;
  text-align: center;
  font-size: 250%;
  margin-top: 15%;
  opacity: 0;
  display: none;
  user-select: none;
}

#mainMenu img {
  margin: 0 auto;
  width: 50%;
}

#mainMenu {
  text-align: center;
  margin-top: 5%;
  display: none;
  opacity: 0;
  user-select: none;
}

#mainMenu button {
  margin-bottom: 8px;
  padding: 20px;
  width: 200px;
  outline: none;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid gray;
  color: white;
  font-size: 130%;
  font-family: courier;
}

button.buttonDesign {
  margin-bottom: 8px;
  padding: 10px;
  width: 200px;
  outline: none;
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid gray;
  color: white;
  font-size: 120%;
}

.buttonChoice {
  margin: 0 auto;
  text-align: center;
  display: none;
}

#creditsTab {
  display: none;
}

#choiceThree {
  margin: 0 auto;
}

#choiceThree, #choiceThree button {
  display: none;
}

.infoTab {
  padding: 10px 50px 10px 50px;
  background-color: rgba(150, 150, 150, 0.5);
  width: 30%;
  text-align: center;
  margin: 0 auto;
  display: none;
  margin-top: 10%;
  border-radius: 5px;
  border: 2px solid rgba(50, 50, 50, 0.6);
}

#mainMenu h1 {
  font-size: 350%;
  color: white;
}

button.closeTab {
  background-color: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(50, 50, 50, 0.6);
  font-weight: bold;
  width: 30px;
  height: 25px;
  font-size: 110%;
  outline: none;
  user-select: none;
  margin: 0 auto;
}

#storyTexts {
  background-color: white;
  font-size: 110%;
  text-align: center;
  padding: 10px;
  border: 2px solid gray;
  display: none;
  border-radius: 5px;
  position: relative;
  top: 10px;
  z-index: -1;
}

button.nextButton {
  background-color: gray;
  border: 2px solid darkgray;
  border-radius: 50%;
  padding: 8px;
  width: 30px;
  height: 30px;
  line-height: 5px;
  font-weight: bold;
  font-size: 110%;
  z-index: 1;
  float: right;
  margin: -25px 10px 0px 0px;
  display: none;
  outline: none;
}

#storyContainer {
  width: 30%;
  margin: 0 auto;
}

.nextButton:after {
  content: ">";
}

img.phoneOff {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 250px;
  display: none;
}

img.phoneLocked {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 250px;
  display: none;
}

img.phoneCallIn {
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 20px;
  width: 250px;
  display: none;
}

#callingPhone button.phoneAnswer {
  position: absolute;
  right: 153px;
  bottom: 152px;
  display: inline;
  padding: 5px;
  width: 90px;
  opacity: 0;
  display: none;
}

#callingPhone button.phoneDecline {
  position: absolute;
  right: 56px;
  bottom: 152px;
  display: inline;
  padding: 5px;
  width: 90px;
  opacity: 0;
  display: none;
}

#deadScreen {
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

#peekingSkeletonOne, #peekingSkeletonTwo, #peekingSkeletonThree {
  display: none;
  position: absolute;
  z-index: 1;
  left: 143px;
  bottom: -30px;
}

#choiceFour, #choiceFive, #choiceSix, #choiceSeven, #choiceEight, #choiceNine, #choiceTen, #choiceEleven, #choiceTwelve {
  margin: 20px 0px 0px 0px;
}

#inventory {
  width: 500px;
  height: 85px;
  background-color: rgba(75, 75, 75, 0.6);
  display: none;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 31.5%;
  border-radius: 5px 5px 0px 0px;
}

div.inventorySlot {
  background-color: white;
  border-radius: 5px;
  flex: 1;
  margin: 8px;
}

#invPistol {
  display: none;
  width: 100%;
  margin: 0 auto;
}

#invVMask {
  display: none;
  width: 80%;
  margin: 0 auto;
}

/*#playButton:hover ~ #peekingSkeleton {
display: block;
}*/

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* End Shrink */
